## Creating DataSet

### Reading Input Data

In [1]:
import pandas as pd
Salaries = pd.read_csv("kaggle_survey_2020_responses.csv", low_memory = False)
Salaries.head()

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q35_B_Part_2,Q35_B_Part_3,Q35_B_Part_4,Q35_B_Part_5,Q35_B_Part_6,Q35_B_Part_7,Q35_B_Part_8,Q35_B_Part_9,Q35_B_Part_10,Q35_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,1838,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN
2,289287,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,860,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,507,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Dropping rows with the missing target variable (Q24)

In [2]:
Salaries.dropna(subset=['Q24'],inplace=True)

In [3]:
Salaries.Q24.unique()

array(['What is your current yearly compensation (approximate $USD)?',
       '100,000-124,999', '15,000-19,999', '125,000-149,999',
       '70,000-79,999', '30,000-39,999', '90,000-99,999', '1,000-1,999',
       '$0-999', '10,000-14,999', '150,000-199,999', '60,000-69,999',
       '4,000-4,999', '> $500,000', '300,000-500,000', '40,000-49,999',
       '25,000-29,999', '80,000-89,999', '7,500-9,999', '50,000-59,999',
       '250,000-299,999', '5,000-7,499', '2,000-2,999', '20,000-24,999',
       '200,000-249,999', '3,000-3,999'], dtype=object)

### Combining the salary buckets and label encoding them

In [4]:
salary_buckets = {   '$0-999': '0-9,999',
    '1,000-1,999': '0-9,999',
    '2,000-2,999': '0-9,999', 
    '3,000-3,999': '0-9,999',
    '4,000-4,999': '0-9,999',
    '5,000-7,499': '0-9,999', 
    '7,500-9,999': '0-9,999',
    '10,000-14,999': '10,000-19,999',
    '15,000-19,999': '10,000-19,999', 
    '20,000-24,999': '20,000-29,999',
    '25,000-29,999': '20,000-29,999',
    '30,000-39,999': '30,000-39,999', 
    '40,000-49,999': '40,000-49,999', 
    '50,000-59,999': '50,000-59,999',
    '60,000-69,999': '60,000-69,999',
    '70,000-79,999': '70,000-79,999', 
    '80,000-89,999': '80,000-89,999', 
    '90,000-99,999': '90,000-99,999',
    '100,000-124,999':'100,000-124,999',
    '125,000-149,999':'125,000-149,9991',
    '150,000-199,999':'150,000-199,999',
    '200,000-249,999':'200,000-249,999',
    '250,000-299,999':'>250,000',
    '300,000-500,000':'>250,000',
    '> $500,000':'>250,000'}

In [5]:
salary_encode = {   '$0-999': 0,
    '1,000-1,999': 0,
    '2,000-2,999': 0, 
    '3,000-3,999': 0,
    '4,000-4,999': 0,
    '5,000-7,499': 0, 
    '7,500-9,999': 0,
    '10,000-14,999': 1,
    '15,000-19,999': 1, 
    '20,000-24,999': 2,
    '25,000-29,999': 2,
    '30,000-39,999': 3, 
    '40,000-49,999': 4, 
    '50,000-59,999': 5,
    '60,000-69,999': 6,
    '70,000-79,999': 7, 
    '80,000-89,999': 8, 
    '90,000-99,999': 9,
    '100,000-124,999':10,
    '125,000-149,999':11,
    '150,000-199,999':12,
    '200,000-249,999':13,
    '250,000-299,999':14,
    '300,000-500,000':14,
    '> $500,000':14}

In [6]:
#Label Encoding the target variable
Salaries.loc[1:,'Q24_Encoded'] = Salaries.loc[1:,'Q24'].map(salary_encode)
Salaries.loc[1:,'Q24_Encoded']=Salaries.loc[1:,'Q24_Encoded'].astype(int)
Salaries.Q24_Encoded.unique()

array([nan, 10.,  1., 11.,  7.,  3.,  9.,  0., 12.,  6., 14.,  4.,  2.,
        8.,  5., 13.])

In [7]:
#Combining the salary buckets
Salaries.loc[1:,'Q24_buckets'] = Salaries.loc[1:,'Q24'].map(salary_buckets)
Salaries.Q24_buckets.unique()

array([nan, '100,000-124,999', '10,000-19,999', '125,000-149,9991',
       '70,000-79,999', '30,000-39,999', '90,000-99,999', '0-9,999',
       '150,000-199,999', '60,000-69,999', '>250,000', '40,000-49,999',
       '20,000-29,999', '80,000-89,999', '50,000-59,999',
       '200,000-249,999'], dtype=object)

In [8]:
Salaries.shape

(10730, 357)

In [9]:
Salaries.to_csv("clean_kaggle_data_2020.csv", index=False)